In [46]:
indexed structure
mutable
ordred
can contain duplicates
heterogeneous 
list( )is the function to convert other iterable tp lists
list has 11 methods
tuple
(tbd)
set
(tbd)
dictionary
(tbd)
#strings are immutable

SyntaxError: invalid syntax (760174375.py, line 1)

In [ ]:
movies = ['avatar', 'titanic', 'starwars', 'the matrix', 'incredibles']

In [ ]:
movies[1] = 'avengers '  #replace value of the second element

In [ ]:
#first two movies

movies[:2]

['avatar', 'avengers ']

In [ ]:
#last two movies

movies[-2:]

['the matrix', 'incredibles']

In [ ]:
movies[1::2]  #every second element (odd index)

['avengers ', 'the matrix']

In [ ]:
movies[::-1]    #reverse the list

['incredibles', 'the matrix', 'starwars', 'avengers ', 'avatar']

In [ ]:
for movie in movies:
    print('i have watched ' + movie)

i have watched avatar
i have watched avengers
i have watched starwars
i have watched the matrix
i have watched incredibles

In [ ]:
#functions and operations on list

In [ ]:
#duplication

x = [1]*50
print(x)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [ ]:
x = [1,2,3,4] * 10
print(x)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
x = [1,2,3,4,5,6]
y = [7,8,9,10,11]
x+y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
z = [23,4,4,2,2222,111,444,57,312,6546,11]

In [ ]:
#it solves iteration ,does'nt solve the mix data type , data  should be the same
sorted(z)

[2, 4, 4, 11, 23, 57, 111, 312, 444, 2222, 6546]

In [ ]:
sum(z)

9736

In [ ]:
max(z)

6546

In [ ]:
min(z)

2

In [ ]:
sum(z)/len(z)

885.0909090909091

In [ ]:
#changes strings to list
list("manikchand")

['m', 'a', 'n', 'i', 'k', 'c', 'h', 'a', 'n', 'd']

In [ ]:
x = []   #list is empty , can put data later

In [ ]:
 #methods of list
adding item in list
   append()
   insert()
   extend()
removing items from list
   pop()
   remove()
   clear()
utility function
   sort()
   reversed()
   index()
   count()
   copy()

In [48]:
books = ['the final empire',
         'the well of ascension',
         'the hero of ages',
         'steelheart',
         'legion',
         'firefight',
         'calamity',
         'way of the kings',
         'oathbringer',
         'the rythm of war',
         'words of radiance',
         'warbreaker',
         'the rethmatist']
print(books)

['the final empire', 'the well of ascension', 'the hero of ages', 'steelheart', 'legion', 'firefight', 'calamity', 'way of the kings', 'oathbringer', 'the rythm of war', 'words of radiance', 'warbreaker', 'the rethmatist']

In [49]:
#to add item at the end of the list, can add  only one item once in append

books.append('legion:skin deep')

In [50]:
books.append('elantris')
books.append('white sand')
books.append('firstborn')
print(books)

['the final empire', 'the well of ascension', 'the hero of ages', 'steelheart', 'legion', 'firefight', 'calamity', 'way of the kings', 'oathbringer', 'the rythm of war', 'words of radiance', 'warbreaker', 'the rethmatist', 'legion:skin deep', 'elantris', 'white sand', 'firstborn']

In [51]:
len(books)

17

In [52]:
#nesting , we can add list in list but as element
books.append(['apple', 'banane', 'orange'])

In [53]:
books

['the final empire',
 'the well of ascension',
 'the hero of ages',
 'steelheart',
 'legion',
 'firefight',
 'calamity',
 'way of the kings',
 'oathbringer',
 'the rythm of war',
 'words of radiance',
 'warbreaker',
 'the rethmatist',
 'legion:skin deep',
 'elantris',
 'white sand',
 'firstborn',
 ['apple', 'banane', 'orange']]

In [54]:
#insert , to add item in case we forgot to add that item  , adds only one item once

books.insert(5, 'mitosis')
print(books)

['the final empire', 'the well of ascension', 'the hero of ages', 'steelheart', 'legion', 'mitosis', 'firefight', 'calamity', 'way of the kings', 'oathbringer', 'the rythm of war', 'words of radiance', 'warbreaker', 'the rethmatist', 'legion:skin deep', 'elantris', 'white sand', 'firstborn', ['apple', 'banane', 'orange']]

In [55]:
books.insert(-5, 'the alloyof law')
print(books)

['the final empire', 'the well of ascension', 'the hero of ages', 'steelheart', 'legion', 'mitosis', 'firefight', 'calamity', 'way of the kings', 'oathbringer', 'the rythm of war', 'words of radiance', 'warbreaker', 'the rethmatist', 'the alloyof law', 'legion:skin deep', 'elantris', 'white sand', 'firstborn', ['apple', 'banane', 'orange']]

In [56]:
worst_book = ['the white tiger', 'twilight saga:new moon', 'two states']

In [57]:
#add the list  of mulitple  items as a list not as element  ,and atteches it to large list
books.extend(worst_book)

In [58]:
#extend
books.extend([1,2,3,4])

In [59]:
print(books)

['the final empire', 'the well of ascension', 'the hero of ages', 'steelheart', 'legion', 'mitosis', 'firefight', 'calamity', 'way of the kings', 'oathbringer', 'the rythm of war', 'words of radiance', 'warbreaker', 'the rethmatist', 'the alloyof law', 'legion:skin deep', 'elantris', 'white sand', 'firstborn', ['apple', 'banane', 'orange'], 'the white tiger', 'twilight saga:new moon', 'two states', 1, 2, 3, 4]

In [60]:
len(books)

27

In [ ]:
#removal
remove by name
remove by Index

In [61]:
books.remove('the white tiger')

In [74]:
#to remove any item we need to use the correct condition , it only removes first occurance , use loop to remove all the duplicates


remove_val = '1, 2, 3, 4'
if remove_val in books:
    books.remove(remove_val)
else:
        print(remove_val   + " " +"is not in the list")

1, 2, 3, 4 is not in the list

In [75]:
books

['the final empire',
 'the well of ascension',
 'the hero of ages',
 'steelheart',
 'legion',
 'mitosis',
 'firefight',
 'calamity',
 'way of the kings',
 'oathbringer',
 'the rythm of war',
 'words of radiance',
 'warbreaker',
 'the rethmatist',
 'the alloyof law',
 'legion:skin deep',
 'elantris',
 'white sand',
 ['apple', 'banane', 'orange'],
 'two states',
 1]

In [71]:
#index vise removing item 
books.pop(-5)

'twilight saga:new moon'

In [72]:
#it removes  the last element automatically
books.pop()

4

In [76]:
books.pop(-1)

1

In [77]:
#to clear the entire data
books.clear()

In [78]:
print(books)

[]