In [1]:
#tuple with mixed datatypes

my_tuple = (1, 'hello', 3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [2]:
#nested tuple

my_tuple = ("mouse", [8,4,6], (1,2,3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [3]:
#a tuple can also be created without using parentheses
#this is known as tuple packing

my_tuple = 3,4.6, "apple"
print(my_tuple)

(3, 4.6, 'apple')

In [5]:
#accessing tuple elements using index
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])
print(my_tuple[5])

p
t

In [6]:
#nested tuple
n_tuple = ("mouse",[8,4,6], (1,2,3))
#nested index
print(n_tuple[0][3])  #0 denotes the first element and 3 denotes subelement of element(mouse 's')
print(n_tuple)[1][2]

s
('mouse', [8, 4, 6], (1, 2, 3))

TypeError: 'NoneType' object is not subscriptable

In [ ]:
#accessing tuple elements using slicing
my_tuple = ('e','x','c','a','l','i','b','u','r')

In [7]:
#elements 2nd to 4th
#output: ('x', 'c', 'a')
print(my_tuple[1])

e

In [10]:
#concatenation
#output: (1,2,3,4,5,6)
print((1,2,3) + (4,5,6))

(1, 2, 3, 4, 5, 6)

In [ ]:
#list ,tuple set are interconvertable
#set removes duplicate data

In [9]:
#repeat
#output: ('repeat', 'repeat', 'repeat)
print(("repeat",) *3)

('repeat', 'repeat', 'repeat')

In [8]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

In [11]:
x = (1,33,5,4)

In [13]:
x1 = (list(x))
print(x,x1)

(1, 33, 5, 4) [1, 33, 5, 4]

In [14]:
xs = set(x)
print(x, xs)

(1, 33, 5, 4) {1, 4, 5, 33}

In [ ]:
#set is mutable

In [19]:
#set can not have duplicates
#output{1,2,3,4}

my_set = {1,2,3,4,5,6,5,4,1}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
#initialize a with set ()

a = set()

#check data type of a print
print(type(a))

In [1]:
#initialize my_set
my_set = {1,3}
print(my_set)

{1, 3}

In [2]:
#add an element
my_set.add(2)
print(my_set)

{1, 2, 3}

In [3]:
#add multiple elements

my_set.update([2,3,4])
print(my_set)

{1, 2, 3, 4}

In [4]:
#add list and set

my_set.update([4,5], {1,6,8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [5]:
#initialize my_set
my_set = {1,3,4,5,6}
print(my_set)

{1, 3, 4, 5, 6}

In [7]:
#discard an element 

my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [8]:
#remove an element

my_set.remove(6)
print(my_set)

{1, 3, 5}

In [10]:
#pops a random item

my_set.pop()
print(my_set)

{3, 5}

In [11]:
#clear  my_set
my_set.clear()
print(my_set)

set()

In [13]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [14]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
print(B|A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
print(A & B)

{4, 5}

In [17]:
A.intersection(B)

{4, 5}

In [18]:
A ={1,2,3,4,5}
B = {4,5,6,7,8}

In [19]:
print(A - B)  #uninque item of A

{1, 2, 3}

In [20]:
print(B - A) #unique item of B

{8, 6, 7}

In [22]:
A.difference(B)

{1, 2, 3}

In [23]:
#symmetric difference

print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [24]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [25]:
electric1 = {'laptop', 'mouse','tv','refigerator'}
electric2 = {'washing machine', 'AC', 'fan' , 'laptop'}

In [27]:
electric1.symmetric_difference(electric2)

{'AC', 'fan', 'mouse', 'refigerator', 'tv', 'washing machine'}

In [28]:
electric1 ^ electric2

{'AC', 'fan', 'mouse', 'refigerator', 'tv', 'washing machine'}

In [29]:
electric1|electric2

{'AC', 'fan', 'laptop', 'mouse', 'refigerator', 'tv', 'washing machine'}

In [30]:
electric1.difference(electric2)

{'mouse', 'refigerator', 'tv'}

In [32]:
#DICTIONARY WITH INTEGER KEYS 

my_dict = {1: 'apple', 2: 'ball'}

In [33]:
#get vs[] for retrieving elements

my_dict = {'name': 'jack', 'age':26}

In [34]:
print(my_dict['name'])

jack

In [35]:
print(my_dict.get('age'))

26

In [36]:
print(my_dict['address'])

KeyError: 'address'

In [37]:
print(my_dict.get('address'))

None

In [38]:
#update value

my_dict['age'] = 27

In [39]:
print(my_dict)

{'name': 'jack', 'age': 27}

In [40]:
#add item
my_dict['address'] = 'Downtown'

In [41]:
print(my_dict)

{'name': 'jack', 'age': 27, 'address': 'Downtown'}

In [45]:
#  create a dictionary

squares = {1: 1, 2: 4, 3: 9, 4: 16,5: 25}

In [43]:
print(squares.pop(4))

16

In [44]:
#remove an arbitarary item , return (key,value)
print(squares.popitem())

(5, 25)

In [46]:
squares.clear()

In [50]:
#delete the variable from memory
#delete the dictionary itself
 del squares

In [51]:
squares = {1: 1, 2: 4, 3: 9, 4: 16,5: 25}

In [52]:
#only keys

for i in squares:
    print(i)

1
2
3
4
5

In [54]:
#only values using i as a key

for i in squares:
    print(squares[i])

1
4
9
16
25

In [55]:
#using items() functions to get both key and value

for k,v in squares.items():
    print(k,v)

1 1
2 4
3 9
4 16
5 25

In [65]:
students = {
           'amit': {'hindi': 70, 'english':89, 'science': 59, 'maths':89, "commerec":90},
            'vinay': {'hindi': 60, 'english':59, 'science': 89, 'maths':70, "commerec":95},    
            'raj': {'hindi': 90, 'english':89, 'science': 69, 'maths':90, "commerec":80},
}

In [62]:
students['raj']

{'hindi': 90, 'english': 89, 'science': 69, 'maths': 90, 'commerec': 80}

In [66]:
for name,marks in students.items():
    print(name)
    print(marks)

amit
{'hindi': 70, 'english': 89, 'science': 59, 'maths': 89, 'commerec': 90}
vinay
{'hindi': 60, 'english': 59, 'science': 89, 'maths': 70, 'commerec': 95}
raj
{'hindi': 90, 'english': 89, 'science': 69, 'maths': 90, 'commerec': 80}

In [72]:
for name, marks in students.items():
    print("students:" ,name)
    for sub ,mark in marks.items():
        print(f'=> {sub} : {marks}')
        print('-'*20)

students: amit
=> hindi : {'hindi': 70, 'english': 89, 'science': 59, 'maths': 89, 'commerec': 90}
--------------------
=> english : {'hindi': 70, 'english': 89, 'science': 59, 'maths': 89, 'commerec': 90}
--------------------
=> science : {'hindi': 70, 'english': 89, 'science': 59, 'maths': 89, 'commerec': 90}
--------------------
=> maths : {'hindi': 70, 'english': 89, 'science': 59, 'maths': 89, 'commerec': 90}
--------------------
=> commerec : {'hindi': 70, 'english': 89, 'science': 59, 'maths': 89, 'commerec': 90}
--------------------
students: vinay
=> hindi : {'hindi': 60, 'english': 59, 'science': 89, 'maths': 70, 'commerec': 95}
--------------------
=> english : {'hindi': 60, 'english': 59, 'science': 89, 'maths': 70, 'commerec': 95}
--------------------
=> science : {'hindi': 60, 'english': 59, 'science': 89, 'maths': 70, 'commerec': 95}
--------------------
=> maths : {'hindi': 60, 'english': 59, 'science': 89, 'maths': 70, 'commerec': 95}
--------------------
=> commerec : {'hindi': 60, 'english': 59, 'science': 89, 'maths': 70, 'commerec': 95}
--------------------
students: raj
=> hindi : {'hindi': 90, 'english': 89, 'science': 69, 'maths': 90, 'commerec': 80}
--------------------
=> english : {'hindi': 90, 'english': 89, 'science': 69, 'maths': 90, 'commerec': 80}
--------------------
=> science : {'hindi': 90, 'english': 89, 'science': 69, 'maths': 90, 'commerec': 80}
--------------------
=> maths : {'hindi': 90, 'english': 89, 'science': 69, 'maths': 90, 'commerec': 80}
--------------------
=> commerec : {'hindi': 90, 'english': 89, 'science': 69, 'maths': 90, 'commerec': 80}
--------------------